@use '@carbon/styles/scss/theme';


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--cds-background);
    color: var(--cds-text-primary);
    border-bottom: 1px solid var(--cds-border-strong);
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end; /* Align actions to the right */
  }
  
  .theme-icon,
  .logout-icon {
    cursor: pointer;
    font-size: 1.5rem;
  }
