@use '@carbon/styles/scss/theme';
@use '@carbon/colors';
@use '@carbon/layout/scss/spacing';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/grid' as grid;



// Container for the entire dashboard
.container {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  background-color: var(--cds-background);
}

// Content section for the main dashboard
.content {
  @include grid.flex-grid;
  padding: 2rem;
  margin-top: 3rem;
  background-color: var(--cds-background);
}

// Grid layout for tiles
.dashboardTilesGrid {
  gap: 1rem;
  padding: 2rem;
}

.dashboardTile {
  background-color: var(--cds-layer);
  border-radius: $spacing-03;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1); // Slightly increase the scale for a more noticeable pop-up effect
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a stronger shadow on hover
  }
}

.dashTileContent {
  text-align: center;
  color: var(--cds-text-primary);
}




.dashboard {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}
